/* GENERAL*/
* {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 65px 0 40px 0;
}

section .heading {
    text-align: center;
}

section .heading h2{
    text-transform: uppercase;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: #25B6A6;
    margin: 0 auto 20px;
}






















/* MARI0 SOUND */
#about button {
    cursor: pointer;
    border: none;
    color: #25B6A6;
    background-color: #ffffff00;  
    outline: none;
}

#about button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;    
}

#about button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;  
    transition: all 0.5s ease-in 0s;
}

#about button:hover span {
    padding-right: 20px;     
}

#about button:hover span:after {
    opacity: 1;
    right: 0;     
}
/* MARI0 SOUND */
























/* ABOUT */


#about {
    background-color: rgba(37, 182, 160, 0.201);    
}

.profile-picture {
    text-align: center;
    margin: 0px auto 30px;
    filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}

#about .heading h1 {
    color: grey; 
    margin-bottom: 20px;
}

.button1 {
    color: grey;
    background-color: rgba(37, 182, 160, 0.201);   
    margin-top: 25px;
    font-weight: bold;
    display: inline-block;
    transition: all 0.5s ease-in 0s;
}

.button1:hover {
    border-color: #25B6A0;
}











/*   SKILLS   */

#skills .heading h2 {
    color: #25B6A0; 
}

#skills .progress {
    height: 40px;
    margin: 25px 15px;
}

#skills .progress:last-child {
    margin-bottom: 0px;
}

#skills .progress-bar {
    background-color: #25B6A0;
}

#skills .progress-bar h5 {
    text-shadow: 1px 1px black;
    margin-bottom: 3px;
}